#main {
    min-width: 240px;
    max-width: 240px;
    background-color: #e7d1dc;  /*background colour: very light pink*/ 
}

#stretch {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

#top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#title {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

button {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: hotpink; /*btn colour*/
    border: 1px solid black;
    padding: 5px;
}

button:hover {
    background-color: teal;
}

#timer-content {
    display: flex;
    flex-direction: column;
}

#timer-numbers {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#timer-text {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

#timer-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#timer-buttons button {
    margin: 0 7px;
}

#pal-select {
    display: flex;
    justify-content: space-around;
    margin: 7px;
}

.accordion.active .collapse-content {
    height: 150px;
}

#loading-cover {
    position:absolute;
    top:0px;
    left:0px;
    width:100vw;
    height:100vh;
    /*background:red;*/
}

select {
    border: 1px solid black;
}

.inactive ~ .collapse-content {
    display: none;
}

.active ~ .collapse-content {
    display: block;
    background-color: lightpink; /*collapsible colour*/
}

.collapse-btn {
    width: 100%;
}

.pal img {
    width: 30px;
}

#logo-img {
    width: 60px;
    height: 60px;
}

#skip-container {
    display: flex;
    justify-content: center;
    margin: 7px;
}

.loader-parent {
    left: 0px;
    top: 0px;
    position: absolute;
    display: none;
    background: lightyellow;
    overflow: hidden;
    width: 98vw;
    height: 98vh;
    padding: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body.still-loading div.loader-parent, body.fade-loading div.loader-parent {
    display: flex;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.still-loading {
    overflow: hidden;
}

body.fade-loading div.loader-parent {
    animation: fade-out 0.2s linear forwards;
}

@keyframes fade-out {
    0% { opactity: 100%; }
    100% { opacity: 0%; }
}

div.loader {
    margin: auto;
    border: 16px solid #e6e6e6;
    border-top: 16px solid hotpink; /*spinner, change to theme - colour*/
    border-radius: 50%;
    animation: spin 2s linear infinite;
    aspect-ratio: 1;
    width: 120px;
    height: 120px;
}
